extends ./../layout/index

block script
  script(src='/static/js/home-main.js')
  block sub_script

block content
  .homeIndex
    include ./../includes/header
    .content
      .module
        .home-banner
        .user-menu-wrap.clearfix
          ul.user-menu.pull-left
            li
              -if(urlPath == '/home')
                span
                  i.icon-file-text2 &nbsp;
                  span 文章
              -else
                a(href='/home')
                  i.icon-file-text2 &nbsp;
                  span 文章
            li
              -if(urlPath.indexOf('/home/category')==0)
                span
                  i.icon-list &nbsp;
                  span 分类
              -else
                a(href='/home/category')
                  i.icon-list &nbsp;
                  span 分类
            li
              -if(urlPath.indexOf('/home/tag')==0)
                span
                  i.icon-price-tags &nbsp;
                  span 标签
              -else
                a(href='/home/tag')
                  i.icon-price-tags &nbsp;
                  span 标签
          ul.user-menu.pull-right
            li
              -if(urlPath.indexOf('/home/setting')==0)
                span
                  i.icon-cog &nbsp;
                  span 设置
              -else
                a(href='/home/setting')
                  i.icon-cog &nbsp;
                  span 设置
            li
              -if(urlPath=='/post/write')
                span
                  i.icon-pencil &nbsp;
                  span 写文章 >
              -else
                a(href='/post/write')
                  i.icon-pencil &nbsp;
                  span 写文章 >
      .clearfix.margin-t-10.margin-b-10
        block sub_content
    include ./../includes/footer
